td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

.stationName {
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
}
