form {
  max-width: 350px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.buttonBox {
  max-width: 350px;
  width: 100%;
  margin: 30px auto 0;
  button {
    margin-left: auto;
    display: block;
  }
}
